.app {
  height: 100vh;
}

.btn {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-enter,
.fade-enter-active {
  transform: translate3d(0, 100%, 0);
}
.fade-enter-done {
  transform: translate3d(0, 0, 0);
  transition: transform 200ms;
}
.fade-exit,
.fade-exit-active {
  transform: translate3d(0, 100%, 0);
  transition: transform 200ms;
}

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aqua;
}
